body {
    font-size: 18px;
	font-family: 'Open Sans', sans-serif;
    height: 100vh; 
    margin: 0;
    overflow: hidden;
}

.navbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: #a6e3de;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;

    position: fixed;
    align-items: stretch;
    right: 0;
    left: 0;

}

.navigation {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;     
}

.navigation a , .mobile-menu {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
}

.icon img {
    padding-left: 1em;
}

.panel {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

    flex-direction: row;
    height: 100%;
}

.left , .right {
    flex-grow: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    width: 50%;
    overflow: auto;
    height: 100%;
}

.left {
    background: #ecffff;
}

.right {
    background: #f0e5e5;
}

.mobile-menu , .mobile-menu-items {
    display: none;
}

/****** Media Queries /******/

@media (max-width: 800px) {
    .navigation {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    .panel {
        flex-direction: column;
    }

    .right , .left {
        width: 100%;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;
        overflow: auto;
        height: 100%;
        }

    .left {
        height: 80%;
    }

    .right {
        flex-grow: 1;
        height: 20%;
    }

    .mobile-menu-items {
        display: flex;
    }

}





